section.about-section {
    padding: 100px 0px 70px;
}

.signature img {
    max-width: 200px;
}

.signature p {
    position: relative;
    top: -14px;
}

.about-text {
    margin-bottom: 30px;
}

.about-img {
    margin-bottom: 30px;
}